/*style.css*/
h1 {
    color: #f00;
    font-family: "Arial Black";
background-color: gold;
}
p {
color: aquamarine;
    font-family: "Book Antiqua";
    background-color: darkgrey;
}
body {
    font-family: "Blackadder ITC";background-color: greenyellow;

}
h1.red {
    color: red;font-size: 100px;
}